# Ignore virtual environment
venv/

# Ignore archive folders
Code/base/archive/
Code/ui/archive/

# Ignore python-generated folders
**/__pycache__/


# Ignore pkl files
*.pkl

Code/test.py

# Ignore environment variables
.env
